<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{/*<div className="col-lg-7 mx-auto text-left apply-form">*/}-->
    <!--{/*<div className="row">*/}-->
        <!--{/*<div className="col-lg-7 offset-lg-5 register">*/}-->
            <!--{/*<form id="regForm" action="">*/}-->

                <!--{/*<h2 className="pl-2">Apply Now</h2>*/}-->

                <!--{/*&lt;!&ndash; One "tab" for each step in the form: &ndash;&gt;*/}-->
                <!--{/*<div className="tab">*/}-->
                    <!--{/*<p className="pl-2 text-muted">Please select:</p>*/}-->
                    <!--{/*<div className=" btn-group btn-group-toggle select-type"*/}-->
                    <!--{/*data-toggle="buttons">*/}-->
                    <!--{/*<ul className="list-unstyled list-inline">*/}-->
                        <!--{/*<li className="list-inline-item">*/}-->
                            <!--{/*<label className="btn btn-secondary active">*/}-->
                                <!--{/*<input type="radio" name="options" id="option1"*/}-->
                                <!--{/*autoComplete="off" checked/>*/}-->
                                <!--{/*<span className="money-icon"></span>*/}-->
                                <!--{/*</label>*/}-->
                            <!--{/*</li>*/}-->
                        <!--{/*<li className="list-inline-item">*/}-->
                            <!--{/*<label className="btn btn-secondary">*/}-->
                                <!--{/*<input type="radio" name="options" id="option2"*/}-->
                                <!--{/*autoComplete="off"/>*/}-->
                                <!--{/*<span className="service-icon"></span>*/}-->
                                <!--{/*</label>*/}-->
                            <!--{/*</li>*/}-->
                        <!--{/*<li className="list-inline-item">*/}-->
                            <!--{/*<label className="btn btn-secondary">*/}-->
                                <!--{/*<input type="radio" name="options" id="option3"*/}-->
                                <!--{/*autoComplete="off" checked/>*/}-->
                                <!--{/*<span className="insurance-icon"></span>*/}-->
                                <!--{/*</label>*/}-->
                            <!--{/*</li>*/}-->
                        <!--{/*<li className="list-inline-item">*/}-->
                            <!--{/*<label className="btn btn-secondary">*/}-->
                                <!--{/*<input type="radio" name="options" id="option4"*/}-->
                                <!--{/*autoComplete="off" checked/>*/}-->
                                <!--{/*<span className="other-icon"></span>*/}-->
                                <!--{/*</label>*/}-->
                            <!--{/*</li>*/}-->
                        <!--{/*</ul>*/}-->


                    <!--{/*</div>*/}-->
                <!--{/*<p className="pl-2 text-muted">Where:</p>*/}-->
                <!--{/*<div className="pl-2 pr-3">*/}-->
                    <!--{/*<select className="custom-select">*/}-->
                        <!--{/*<option selected>Ottawa,On,Canada</option>*/}-->
                        <!--{/*<option value="1">One</option>*/}-->
                        <!--{/*<option value="2">Two</option>*/}-->
                        <!--{/*<option value="3">Three</option>*/}-->
                        <!--{/*</select>*/}-->
                    <!--{/*</div>*/}-->

                <!--{/*</div>*/}-->

        <!--{/*<div className="tab" style="padding:15px">*/}-->
            <!--{/*<p className="text-muted">What kind of loan ?</p>*/}-->
            <!--{/*<p><textarea className="form-control" id="formLoan"*/}-->
                <!--{/*placeholder="How can we help?" rows="3">*/}-->
                <!--{/*</textarea></p>*/}-->
            <!--{/*<p className="text-muted">Amount requested</p>*/}-->
            <!--{/*<p><textarea className="form-control" id="formAmount"*/}-->
                <!--{/*placeholder="How can we help?" rows="3">*/}-->
                <!--{/*</textarea></p>*/}-->
            <!--{/*<p className="text-muted">Anything else you want to add</p>*/}-->
            <!--{/*<p><textarea className="form-control" id="formElse"*/}-->
                <!--{/*placeholder="How can we help?" rows="3">*/}-->
                <!--{/*</textarea></p>*/}-->
            <!--{/*</div>*/}-->

        <!--{/*<div className="tab">Birthday:*/}-->
            <!--{/*<p><input placeholder="dd" onInput="this.className = ''"/></p>*/}-->
            <!--{/*<p><input placeholder="mm" onInput="this.className = ''"/></p>*/}-->
            <!--{/*<p><input placeholder="yyyy" onInput="this.className = ''"/></p>*/}-->
            <!--{/*</div>*/}-->

        <!--{/*<div className="tab">Login Info:*/}-->
            <!--{/*<p><input placeholder="Username..." onInput="this.className = ''"/></p>*/}-->
            <!--{/*<p><input placeholder="Password..." onInput="this.className = ''"/></p>*/}-->
            <!--{/*</div>*/}-->

        <!--{/*<div*/}-->
        <!--{/*style="overflow:auto;margin-top:20px;padding-right:15px;padding-left:10px;padding-bottom:15px">*/}-->
        <!--{/*<div>*/}-->
            <!--{/*<button type="button" id="prevBtn"*/}-->
            <!--{/*className="btn btn-secondary prev-btn mr-2"*/}-->
            <!--{/*onClick="nextPrev(-1)" style="width:47%;float:left">Previous*/}-->
            <!--{/*</button>*/}-->
            <!--{/*<button type="button" className="btn btn-primary" id="nextBtn"*/}-->
            <!--{/*onClick="nextPrev(1)"*/}-->
            <!--{/*style="float:left;text-transform:lowercase">Next*/}-->
            <!--{/*</button>*/}-->
            <!--{/*</div>*/}-->
        <!--{/*</div>*/}-->

    <!--{/*&lt;!&ndash; Circles which indicates the steps of the form: &ndash;&gt;*/}-->
    <!--{/*<div style="text-align:center;margin-top:40px; display:none">*/}-->
        <!--{/*<span className="step"></span>*/}-->
        <!--{/*<span className="step"></span>*/}-->
        <!--{/*<span className="step"></span>*/}-->
        <!--{/*<span className="step"></span>*/}-->
        <!--{/*</div>*/}-->

    <!--{/*</form>*/}-->
    <!--{/*</div>*/}-->
<!--{/*</div>*/}-->
<!--{/*</div>*/}-->
</body>
</html>